<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="자재관리.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="자재관리.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="자재관리.Properties.Settings.DBConnectionString" connectionString="Data Source=수우BOOK;Initial Catalog=자재관리DB;Persist Security Info=True;User ID=sa;Password=sapass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <자재관리.Properties.Settings>
            <setting name="폰트" serializeAs="String">
                <value>맑은 고딕, 9pt</value>
            </setting>
        </자재관리.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <자재관리.Properties.Settings>
            <setting name="EnableSkin" serializeAs="String">
                <value>True</value>
            </setting>
        </자재관리.Properties.Settings>
    </userSettings>
</configuration>