<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="자재관리.Properties.Settings.DBConnectionString" connectionString="Data Source=수우BOOK;Initial Catalog=자재관리DB;Persist Security Info=True;User ID=sa;Password=sapass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>